<div class='row-fluid'>
  <div class='span9'>
    <h2>
      {{name.0}}
      <small ng-show='nick'>({{join(nick)}})</small>
    </h2>
    <p class='lead'>is an actor, born: {{born | date:'dd MMM yyyy'}}</p>
    <p>{{abstract.0}}</p>
  </div>
  <div class='span3'>
    <img class='img-circle img-polaroid' ng-show='image' ng-src='{{image}}' />
  </div>
</div>