<h2>{{prefLabel||join(name)||label||title}}</h2>
<p ng-show="url"><a href="{{url}}" target="_blank">{{url}}</a></p>

<ul>
  <li ng-repeat='url in sameAs' ng-show='url!=startURI'>
    <a ng-click='changeURI(url)' href=''>{{url}}</a>
  </li>
</ul>

<hr/>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#data" data-toggle="tab">data</a>
  </li>
  <li>
    <a href="#context" data-toggle="tab">context</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="data">
    <pre>{{ ld | json }}</pre>
  </div>
  <div class="tab-pane" id="context">
    <pre>{{ context | json }}</pre>
  </div>
</div>