<div class='row-fluid'>
  <div class='span12'>
    <h2>{{name.0}}</h2>
    <p class='lead'>is a movie - <a ng-show='homepage' href='{{homepage.0}}' target='_blank'>{{homepage.0}}</a></p>

    <p>Runtime: {{runtime | number}} min</p>

    <p>{{abstract.0}}</p>

    <div ng-show='director.name'>
      <h3>Director</h3>
      <ul>
        <li>
          <a ng-click='changeResource(director)' href=''>{{director.name.0}}</a>,
          born: {{director.born | date:'dd MMM yyyy'}}
        </li>
      </ul>
    </div>

    <div ng-show='actors.length' class="row-fluid">
      <h3>Actors</h3>
      <span ng-hide="actors.0.image" class="loading loading-spinner"></span>
      <ul class="thumbnails">
        <!-- actor name should not contain Duval -->
        <li class="span3" ng-repeat="actor in actors | filter: { name:'!Duval' }" ng-show='actor.image'>
        <!-- <li class="span3" ng-repeat="actor in actors" ng-show='actor.image'> -->
          <div class="thumbnail">
            <a ng-click='changeResource(actor)' href=''>
              <img ng-src="{{actor.image}}" alt="{{actor.name.0}}" />
            </a>

            <div class="caption">
              <h4>{{join(actor.name)}}</h4>
              <p>
                born: {{actor.born | date:'dd MMM yyyy'}},
                born in:
                <span ng-hide='uniqueNames(actor.birthPlace)' class="loading loading-spinner"></span>
                {{uniqueNames(actor.birthPlace)}}
              </p>
              <p><a class="btn btn-small" ng-click='changeResource(actor)' href=''>show</a></p>
            </div>

          </div>
        </li>
      </ul>
    </div>



  </div>
</div>
