<div class='row-fluid'>
  <div class='span12'>
    <h2>{{name}}</h2>
    <p class='lead'>is a movie - <a ng-show='homepage' href='{{homepage.0}}' target='_blank'>{{homepage.0}}</a></p>
    <p>{{abstract.0}}</p>

    <h3>Director</h3>
    <ul>
      <li>
        <a ng-click='changeResource(director)' href=''>{{director.director_name}}</a>
      </li>
    </ul>

    <h3 ng-show='actors.length'>Actors</h3>
    <ul>
      <li ng-repeat="actor in actors" ng-show='actor.name'>
        <a ng-click='changeResource(actor)' href=''>{{actor.actor_name}}</a>
      </li>
    </ul>

  </div>
</div>
